@page "/fetchdata"
@using Microsoft.Azure.SpringCloud.Sample.WeatherApp.Data
@inject WeatherForecastService ForecastService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Planet</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Key</td>
                    <td>@forecast.Value</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<KeyValuePair<string, string>> forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetPlanetWeather();
    }
}
